body {
	background-image: url('backgroundimg.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
	body {
		background-image: url("backgroundimg.jpg");
	}
}

.form-heading {
	text-align: center;
}

.form-style {
	width: 50%;
	margin: 20px auto;
}

.form-layout {
	margin-top: 3%;
}

.navbar-brand{
	font-size: 25px;
	margin: 0 10px;
}

.nav-item {
	font-size: 18px;
	margin: 0 10px;
}

.fa {
	size: 22px;
	margin: 0 5px;
}

.img-question {
	width: 50%;
	margin: 10px 25%;
	padding: inherit;

}

.question-body {
	padding: inherit;
	margin: 3%;
	border: 1.5px solid rgba(0,0,0,0.3);
}

.sub {
	color: rgba(0,0,0,0.4);
	font-size: 18px;
}

.loginbox {
	max-width: 480px;
	max-height: 320px;
	background: #fff;
	color: #000;
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
.signupbox {
	width: 520px;
	height: 580px;
	background: #fff;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}

.resetbox {
	width: 520px;
	height: 280px;
	background: #fff;
	color: #000;
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}

.forgotbox {
	width: 520px;
	height: 220px;
	background: #fff;
	color: #000;
	top: 40%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}
